node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore source files
ignore_sources/

# P5 UI source folder (Vue)
p5_ui/

# P5 My UI build artifacts
p5_my_ui/node_modules/
p5_my_ui/dist/
